@font-face{
    font-family: head;
    src: url(./Heading-Now-Variable.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
*::selection{
    color: black;
    background: white;
}
html,body{
    height: 100%;
    width: 100%;
    color: white;
}
#loader{
    width: 100%;
    height: 100vh;
    background:linear-gradient(180deg,grey,gainsboro,grey) ;    
    position: fixed;
    z-index: 99;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 999;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#page1 h1{
    font-size: 36vw;
    text-transform: uppercase;
    font-family: head;
    white-space: nowrap;
    font-stretch: 260%;
    font-weight: 999;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(76, 76, 76);
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
}